@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,600,700);

// Vars
$primaryColour: #5a5a5a;
$secondaryColour: #00E5B3;
$linkColour: #0597FB;
$bgColour: #EAE8E5;

body {
  background: $bgColour;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $primaryColour;
  padding: 10px 0;
}

a {
  color: $linkColour;
  text-decoration: none;
}

a:hover {
  color: #0365a8;
}

.mid {
  text-align: center;
}

header h1 {
  margin-top: 22px;
  img {
    
  } 
}

article h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
}

h2 {
  font-size: 21px;
  font-weight: 600;
  margin: 20px 0;
}

p {
  margin: 20px 0;
}

aside h3 {
  margin: 20px 0 10px;
  font-size: 18px;
  font-weight: 700;

}

header {
  height: 75px;
  vertical-align: middle;

  img {
    width: 140px;
  }
}

nav {
  margin-top: 25px;
  text-align: right;
}

nav a, nav strong {
  
  margin: 20px 0;
  padding: 0 10px;
  font-size: 18px;
}

nav strong {
  font-weight: 600;
}


nav a:last-child {
  border-right: none;
  padding-right: 0;
}

nav a:first-child {
  padding-left: 0;
}

.bordered {
  border: 4px solid $secondaryColour;
  padding: 20px;
}

aside ul li {
  // text-align: right;
}

aside .selected {
  color: $secondaryColour;
  font-weight: 700;
}

footer {
  text-align: center;
  margin: 40px 0;
}

div#upload_wrap{
  display: none;
}

header form {
  margin-top: 20px;
}

article form {
  clear: both;
  margin: 40px auto;
  width: 50%;
  overflow: hidden;
}

form div.input, form div.form-row {
  margin-bottom: 20px;
}

form label {
  display: block;
  font-size: 16px;
  vertical-align: top;
}



a.upload_override,
input[value="submit"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="url"],
textarea {
  background: transparent;
  background-image: none;
  border: 4px solid $secondaryColour;
  outline: none;
  width: 100%;
  padding: 4px 8px;
  font-size: 16px;
  vertical-align: top;
  color: $primaryColour;
  margin-top: 0;
  background-color: white;
}

input[value="submit"] {
  border: 4px solid $secondaryColour;
}

input[type="file"] {
  display: none;
}

textarea {
  resize: vertical;
}

a.upload_override {
  display: block;
  background: url(/assets/search.png) no-repeat 97% center white;

}

input[type="submit"],
button[type="submit"] {
  background: transparent;
  background-image: none;
  border: 4px solid $secondaryColour;
  color: $linkColour;
  padding: 4px 10px;
  font-size: 16px;
  cursor: pointer;
  float: right;
  clear: both;
  outline: none;
  margin: 0;
  
  &:hover {
    background: $secondaryColour;
    color: white;
  }
}

button p {
  vertical-align: center;
}

input.location_search {
  width: 100%;
  background: url(/assets/search.png) no-repeat 98% center;
  border: 4px solid $secondaryColour;
}


abbr {
  float: right;
}

span.error {
  display: inline-block;
  padding: 5px 12px;
  color: #E55D2E;
}

::-webkit-input-placeholder {
  color: $primaryColour;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.flash {
  background: $secondaryColour;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 40px;
  font-size: 18px;
}

.flash.error {
  background: #E55D2E;
}

.map {
  height: 300px;
  border-top: 5px solid $secondaryColour;
  border-bottom: 5px solid $secondaryColour;
}

a.button {
  display: inline-block;
  border: 4px solid $secondaryColour;
  padding: 4px 10px;
  text-align: center;
  font-size: 18px;
  margin: 5px 10px;

  &:hover {
    background: $secondaryColour;
    color: white;
  }
}

.actions {
  text-align: center;
  margin: 20px 0;
}

.social {

  margin-top: 20px;

  a.button {
    margin: 5px 2px;
  }
}


.jobslist {
  clear: both;
}

.single_job {
  margin-bottom: 20px;
  img {
    width: 60px;
    margin-top: 3px;
    float: left;
  }
}

.job_show {

  margin-top: 40px;

  .company_logo {
    margin: 0 auto 20px;
    width: 100%;
    border-radius: 8px;
  }

  h3 {
    margin-top: 23px;
  }

  h3, h4 {
    font-size: 21px;
    letter-spacing: 0.045em;
    text-transform: capitalize;
  }

  blockquote {
    border-top: 5px solid $secondaryColour;
    border-bottom: 5px solid $secondaryColour;
    padding: 40px 66px; 
    font-size: 20px;
    line-height: 1.3em;
    letter-spacing: 0.03em;
    margin: 20px 0 40px;

    background-image: url(/assets/quote-left.png), url(/assets/quote-right.png);
    background-position: 0 20%, 100% 80%;
    background-repeat: no-repeat;
  }

  p {
    margin: 20px 0;
  }

  ul {
    margin: 20px 0;
  }

  li {
    background: url(/assets/bullet.png) 0 8px no-repeat;
    padding-left: 30px;
  }

}


.job_details {
  float: left;
  padding-left: 65px;
  padding-right: 20px;
  width: 335px;
}

.featured {
  background: url(/assets/star.png) 20px 20px no-repeat;
}

.job_actions {
  float: left;
  width: 255px;
}

.is_featured {
  background: url(/assets/star.png) no-repeat 20px center;
}


.input.text {
  input,
  textarea {
    width: 100%;
    height: 200px;
  }
}

.right-fields {
  float: right;
  width: 55%;
  label {
    white-space: nowrap;
  }
}


.submission {
  clear: both;
  padding-top: 0;
  padding-bottom: 0;

  p {
    margin: 20px 0;
  }

}


.new_submission {
  textarea {
    clear: both;
    width: 100%;
  }
  cursor: pointer;
}

.cover_letter {
  min-height: 100px;
}


.login_form input {
  margin-bottom: 20px;
}

.login_form .button {
  padding-left: 20px;
  padding-right: 20px;
}

section.room {

  text-align: center;

  h2 {
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.25;
  }

  .description {
    width: 50%;
    margin: 40px auto;
    font-size: 21px;
    font-weight: 400;
  }

  li {
    display: inline-block;
    margin: 0 5px;
    font-weight: 600;
    font-size: 16px;
  }

  .image {
    border-top: 4px solid $secondaryColour;
    margin-top: 40px;
  }

  .user {
    margin: 40px 0;
  }

}

section.rooms {
  border-top: 4px solid $secondaryColour;
  
  div.room {
    position: relative;
    border-bottom: 4px solid $secondaryColour;
    

    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 320px;
      height: 300px;
      background: rgba(0,0,0,0.5);
      padding: 20px;

      color: white;
    }
    
    h2 {
      margin: 0 0 10px 0;
    }

    p {
      margin: 0 0 10px;
    }

    a {
      color: $secondaryColour;
    }


  }
}

section.social {
  margin-top: 40px;
  text-align: center;
}
